{clean_files, ["*.eunit", "ebin/*.beam"]}.
{erl_opts, [hipe, {i, "inc"}]}.
{sub_dirs, ["rel"]}.
{deps, [ 
	{jiffy,        ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{snappy,       ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif.git"}},
	{lager,        ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
	{ranch,        ".*", {git, "git://github.com/ninenines/ranch.git", "1.0.0"}},
	{protobuffs,   ".*", {git, "https://github.com/basho/erlang_protobuffs.git"}}
]}.
